html, body {
	margin:0px;
	padding:0px;
}

body {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 12px;
  background: #000;
	height:100%;
  text-align: left !important;
}

a { 
  color: #0A8ECC;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}	

h1 {
	color: black;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 16px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

h1 {
	padding-bottom: 3px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 14px;
}

p {
  font-weight: bold;
}

.page-content {
  background: white;
  opacity: 0.8;
  margin: 400px auto 150px;
	width: 600px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.page-wrapper { 
	padding: 30px;
}

a#read_more {
  margin-left: 425px;
  font-size: 14px;
  font-weight: bold;
}
.closing {
  text-align: center;
  font-size: 20px;
}
.poem {
  text-align: center;
}
